# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
out/

# Environment variables and sensitive information
.env
.env.*
config.js

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
